/*====== global */
:root{
    --primary:blue;
    --box-shadow: -5px 5px 10px 5px rgb(0, 0, 0);
}
body{
    margin: 0;
}

.global{ background: yellow;
}

.container{
    width: 80%;
    margin: auto;
}
.btn{
    background: rebeccapurple;
    padding: 8px 16px;
    border: 1px solid rebeccapurple;
    border-radius: 5px;
}

.global > div
{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
/*====== Header */
header{
    background: blue;
}
header >div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    color: white;
}
header ul{
    display: flex;
    list-style-type: none;
}
header ul li {
    margin-left: 16px;
    font-weight: bolder;
    font-size: 20px;
}
header ul li:hover{
    cursor: pointer;
    background: red;
    transform: scale(1.5);
}
.logo{
    background: white;
    color: blue;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.logo div{
    border: 3px dotted blue;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
/* ========hero */
.hero{
    background: url(./Micro\ project.jpg);
    no-repeat center;
    background-size: cover;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-content{
    background: red;
    color: white;
width: 500px;
padding: 32px;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
align-items: center;    
}

.hero-content hr{
    width: 100%;
  
}
/* ======latest post */
.main{

    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.articles{
    
    width: 66%;
}
.side-links{
   
    width: 34%;
}
article{
    display: flex;
    gap: 16px;
    box-shadow: -5px 5px 10px black;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}
.art-img{
    width: 250px;
    height: 150p;

}
.title{
    font-size: 20px;
    font-weight: bold;
    color: blueviolet;
}
article.btn{
    float: right;

}
/* side links */
.side-links{
    width:34% ;
}
.country{
    background: yellow;
    padding: 16px;
    border-radius: 5px;
    margin-bottom: 32px;
}
.date{
    background: yellow;
    padding: 16px;
    border-radius: 5px;

}
/* ====recc */
.recc{
    background: rgba(132, 170, 148, 0.548);
margin-top: 64px;
padding: 46px 0;
}
.card-list{
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.card{
    width: 350px;
    box-shadow: var(--box-shadow);
    background: white;
    padding-bottom: 32px;
    border-radius: 10px 10px 0 0;
}
.card img{
    border-radius: 10px;
}
/* subscribe */
.subs{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
}
.subs input{
    line-height: 42px;
    border-radius: 8px;

}

/* ====footer */
.footer{
    background: black;
    color: white;
    padding: 50px;
    text-align: center;
    margin-top: 16px;
}
/* ===media queries */
/* @media (max-width: 768px) { */
/* @media (min-width: 768px) { */
   /* @media (max-width: 992px)  */
   {

    .global{
        background: black;
    }
}
/* tablets */
@media (max-width: 992px) {
    .main{

        display: flex;
        flex-direction: column;
    
}
.articles{
    
    width: 100%;
}
.side-links{
    width:100% ;
    display: flex;
    gap:32px;
}
.country,
.date {
width: 50%;
height: 200px;
margin-top: 48px;
display: flex;
align-items: center;
flex-direction: column;
}
}

/* mobile view */
@media (max-width: 768px) {
    .articles{
        width: 100%;
    }
    article {
    display: flex;
    flex-direction: column;
}
.art-img{
    width: 100%;
    }
    article .btn{
        width: 100%;
    }
    .side-links{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .country,
    .date{
        width: 100%;
        margin-top: 16px;
    }
    
}

    